mixin section(klass, headline, graph)
  h2.block(class=klass || '')= headline
  p.block= graph

+section(
  "section-split",
  "Example Notebooks",
  ""
)

p.block.
  The following links are to static copies of notebooks on our sharing
  server.  On each page, you can view the contents of the notebook and
  interact with it, but you can't change the contents of the cells or
  run any code.  You can also download the notebook, load it into
  Beaker, and then get full access.

p.block.
  <table>
    <tr>
      <td><a href="http://sharing.beakernotebook.com/gist/anonymous/f4fd503dc5e3f64986b0">
        Main Tutorial<br>
        <img src="img/tutorial.png">
      </a></td>
      <td><a href=http://sharing.beakernotebook.com/gist/anonymous/47a0e193c3d01895f873>
        Python Demo<br>
        <img src="img/ipython-demo-tut.png">
      </a></td>
      <td><a href=http://sharing.beakernotebook.com/gist/anonymous/a119ba0126f280b2d041>
        R Demo</a><br>
        <img src="img/r-demo-tut.png">
      </a></td>
    </tr>
    <tr>
      <td><a href=http://sharing.beakernotebook.com/gist/anonymous/5fcd0e4ec4e514429bb7>
        Autotranslation<br>
        <img src="img/autotranslation-tut.png">
      </a></td>
      <td><a href=http://sharing.beakernotebook.com/gist/anonymous/3fcbb2e8c0d67079d313>
        Interactive Charts<br>
        <img src="img/charting-tut.png">
      </a></td>
      <td><a href=http://sharing.beakernotebook.com/gist/anonymous/4855d54bba77ff51e5cc>
        Charts with Level of Detail<br>
        <img src="img/charting-lod-tut.png">
      </a></td>
    </tr>
  </table>
